

/* base typography */

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: rgb(129, 163, 191);
  padding: 30px;
  color: #920
}

h1, h2, h3 {
  margin-bottom: 21px;
  color: #34e
}
